	*{
		padding: 0px;
		margin: 0px;
	}
	a{
		padding: 30px;
		background-color: rgba(181, 82, 54, .7);
		text-decoration-line: none;
		color: #fff;
		font-size: 300px;
		margin-top: 50%;
	}
	a:hover{
		background-color: rgba(168, 146, 139, .7); 
		border: 3px black solid;
		border-radius: 10px;
	}
	h1{
		text-align: center;
		font-size: 400px;
		color: #FA6750;
		background-color: rgba(74, 60, 60, .7);
		width: 60%;
		margin: auto;
	}
	h1:hover{
		background-color: rgba(200, 199, 199, .7);
	}
	.izq{
		float: left;
	}
	.der{
		float: right;
	}